.container_12 {
    background-color: red;
}

nav li {
    display: inline;
}
section {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px;
}